<div class="row">
  <div class="col-sm-12 text-xs-center jumbotron">
    <h2>Soon to be the VibrantTV database!</h2>
    <p class="lead">The time is now: <%= Time.now %></p>
  </div>
  <div class="container col-lg-12 col-md-6">
    <%=image_tag('vib.png', alt: 'image logo', height: 331.1, width: 925.4, class: 'logo') %>
  </div>
</div>
